<h1>{{ getTitle() }}</h1>
<input type="text" [(ngModel)]="title" />
<br /><br />
<img src="{{ imageUrl }}" alt="{{ getTitle() }}" />

<p [textContent]="user?.name"></p>

<h1>Clicked {{ clickCount }} times</h1>
<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>

<app-counter></app-counter>

<h1>Names List</h1>
<ul>
  <li *ngFor="let name of names">{{ name }}</li>
</ul>

<h1>Indexing with numbers</h1>
<ul>
  <li *ngFor="let name of names; let i = index">{{ i + 1 }}. {{ name }}</li>
</ul>

<h1>Bold first and last</h1>
<ul>
  <li *ngFor="let name of names; let isFirst = first; let isLast = last">
    <strong *ngIf="isFirst">{{ name }}</strong>
    <strong *ngIf="isLast">{{ name }}</strong>
    <p *ngIf="!isFirst && !isLast">{{ name }}</p>
  </li>
</ul>

<h1>Highlighting first and last</h1>
<ul>
  <li
    *ngFor="let name of names; let isEven = even; let isOdd = odd"
    [ngClass]="{ 'even-item': isEven, 'odd-item': isOdd }"
  >
    {{ name }}
  </li>
</ul>


<h1>Using ngIf</h1>

<input type="checkbox" [(ngModel)]="showMe" >
<p *ngIf="showMe">Can you see me?</p>

<p [ngClass]="['primary', 'big']">
    Sample Text
</p>

<p [ngClass]="{'primary':showMe}">
    Sample Text
</p>

<p [ngStyle]="{'color':'green', 'font-size':'50px'}">
    Sample Text
</p>